.main {
  text-align: center;
}
.main h2 {
  color: white;
}
.main > form {
  background-color: white;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 3%;
  border-radius: 30px;
}
.main > form > * {
  width: 90%;
  margin: 5%;
}
